---
- name: assert mandatory values are set
  ansible.builtin.assert:
    that:
      - man_adcs_winrm_is_dc is defined
      - man_adcs_winrm_domain is defined
      - man_domain_join_domain_name is defined

- name: refresh the local GPO to ensure we have the latest certs
  ansible.windows.win_command: gpupdate /force

- name: set certificate issuer name
  ansible.builtin.set_fact:
    pri_adcs_winrm_issuer: CN={{ man_domain_join_domain_name.split('.')[0] }}-{{ groups['controller'][0] }}-CA, DC={{ man_adcs_winrm_domain.split(".") | join(", DC=") }}

# the logic to get the cert thumbprint differs from the DCs and other hosts
- name: get certificate thumbprint to use for new WSMan listener on the domain controller
  ansible.windows.win_shell: (Get-ChildItem -Path Cert:\LocalMachine\My\ | Where-Object { $_.Issuer -eq "{{ pri_adcs_winrm_issuer }}" {{ (man_adcs_winrm_is_dc | bool) | ternary('-and "Client Authentication" -in ($_.EnhancedKeyUsageList).FriendlyName -and "Server Authentication" -in ($_.EnhancedKeyUsageList).FriendlyName -and "KDC Authentication" -notin ($_.EnhancedKeyUsageList).FriendlyName', '') }}}).Thumbprint
  register: pri_adcs_winrm_enrolled_cert_thumbprint
  changed_when: false

- name: get the current thumbprint used in the HTTPS listener
  ansible.windows.win_shell: |
    $https_listener = Get-Item -Path WSMan:\localhost\Listener\* | Where-Object { "Transport=HTTPS" -in $_.Keys }
    $address = ($https_listener.Keys | Where-Object { $_.StartsWith("Address=") } ).Split("=")[-1]
    $wsman_instance = Get-WSManInstance -ResourceURI winrm/config/listener -SelectorSet @{Transport="HTTPS"; Address=$address}
    $wsman_instance.CertificateThumbprint
  register: pri_adcs_winrm_https_listener
  changed_when: false

- name: re-configure WinRM HTTPS listener with new certificate
  when: pri_adcs_winrm_https_listener.stdout_lines[0] not in pri_adcs_winrm_enrolled_cert_thumbprint.stdout_lines
  block:
    - name: change the certificate thumbprint
      ansible.windows.win_shell: |
        $selector_set = @{
            Address = "*"
            Transport = "HTTPS"
        }
        $value_set = @{
            CertificateThumbprint = "{{ pri_adcs_winrm_enrolled_cert_thumbprint.stdout_lines[0] }}"
            Enabled = $true
        }
        Get-ChildItem -Path WSMan:\localhost\Listener | Where-Object { $_.Keys -contains "Transport=HTTPS" } | Remove-Item -Recurse -Force
        New-WSManInstance -ResourceURI winrm/config/listener -SelectorSet $selector_set -ValueSet $value_set
      register: pri_adcs_change_winrm_listener_async
      async: 30
      poll: 0

    - name: wait 5 seconds to make sure connection is back online
      ansible.builtin.pause:
        seconds: 5

    - name: verify connection is back online
      ansible.builtin.async_status:
        jid: '{{ pri_adcs_change_winrm_listener_async.ansible_job_id }}'
      register: pri_adcs_winrm_async_status
      until: pri_adcs_winrm_async_status.finished
