---
- name: create temp Python dir
  ansible.builtin.file:
    path: /tmp/python-install
    state: directory
    mode: "0777"

- name: download Python tar
  ansible.builtin.get_url:
    url: https://www.python.org/ftp/python/{{ man_python_version }}/Python-{{ man_python_version }}.tgz
    dest: /tmp/python-install/Python-{{ man_python_version }}.tgz

- name: extract Python tar
  ansible.builtin.unarchive:
    src: /tmp/python-install/Python-{{ man_python_version }}.tgz
    dest: /tmp/python-install
    remote_src: true

- name: set enable optimizations fact if Python version supports it
  ansible.builtin.set_fact:
    pri_python_configure_args: ' --enable-optimizations'
  when: man_python_version.split('.')[:2] | join('.') == "3.11"

- name: configure Python
  ansible.builtin.shell: ./configure{{ pri_python_configure_args | default('') }}
  args:
    chdir: /tmp/python-install/Python-{{ man_python_version }}

- name: install Python
  ansible.builtin.shell: make && make altinstall
  args:
    chdir: /tmp/python-install/Python-{{ man_python_version }}

- name: download get-pip.py for pip install
  ansible.builtin.get_url:
    url: https://bootstrap.pypa.io/get-pip.py
    dest: /tmp/python-install/get-pip.py

- name: install pip
  ansible.builtin.command: /usr/local/bin/python{{ man_python_version.split('.')[:2] | join('.') }} /tmp/python-install/get-pip.py

- name: cleanup install artifacts
  ansible.builtin.file:
    path: /tmp/python-install
    state: absent
