---
- name: assert mandatory variable are set
  ansible.builtin.assert:
    that:
      - man_python_version is defined

- name: make sure RHEL/Centos/Fedora packages required for Python compiling are installed
  ansible.builtin.dnf:
    name:
      - gcc
      - zlib-devel
      - openssl-devel
      - sqlite-devel
      - bzip2-devel
      - readline-devel
      - libffi-devel
      - libselinux-python3
  when: ansible_package_name == 'dnf'

- name: make sure Debian packages required for Python compiling are installed
  ansible.builtin.apt:
    name:
      - gcc
      - python3-dev
      - libffi-dev
      - build-essential
      - libssl-dev
      - zlib1g-dev
      - libbz2-dev
      - python3-selinux
    state: present
  when: ansible_package_name == 'apt'

- name: check if Python is installed
  ansible.builtin.stat:
    path: /usr/local/bin/python{{man_python_version.split('.')[:2] | join('.')}}
  register: pri_python_install

- name: install Python
  ansible.builtin.include_tasks: install.yml
  when: pri_python_install.stat.exists == False

- name: ensure pip, setuptools, and virtualenv are up to date
  ansible.builtin.pip:
    name:
      - pip
      - setuptools
      - virtualenv
    state: latest
    executable: /usr/local/bin/pip{{man_python_version.split('.')[:2] | join('.')}}

# this probably needs more work but it is a start
- name: check if the Python selinux bindings are available
  ansible.builtin.stat:
    path: /usr/lib64/python{{man_python_version.split('.')[:2] | join('.')}}/site-packages/selinux
  register: selinux_bindings

- name: find _selinux.so package
  ansible.builtin.find:
    paths: /usr/lib64/python{{man_python_version.split('.')[:2] | join('.')}}/site-packages
    patterns: _selinux.*.so
  register: selinux_find_results

- name: symlink selinux package to new install
  ansible.builtin.file:
    src: /usr/lib64/python{{man_python_version.split('.')[:2] | join('.')}}/site-packages/selinux
    dest: /usr/local/lib/python{{man_python_version.split('.')[:2] | join('.')}}/site-packages/selinux
    state: link
  when: selinux_bindings.stat.exists

- name: symlink _selinux.so package
  ansible.builtin.file:
    src: '{{selinux_find_results.files[0].path}}'
    dest: /usr/local/lib/python{{man_python_version.split('.')[:2] | join('.')}}/site-packages/{{selinux_find_results.files[0].path|basename}}
    state: link
  when: selinux_find_results.files|count > 0
