---
# not pinning a version is perhaps fine here
- name: create virtualenv for Ansible # noqa: package-latest
  ansible.builtin.pip:
    name:
      - ansible
      - pywinrm
      - requests-kerberos
      - pypsrp
      - requests-credssp
      - gssapi
    # - pywinrm[kerberos,credssp]
    # - pypsrp[kerberos,credssp]
    state: latest
    virtualenv: ~/ansible-py{{ item.name }}
    virtualenv_command: /usr/local/bin/virtualenv
    virtualenv_python: '{{ item.python }}'
    virtualenv_site_packages: true
  with_items:
    - name: '{{ man_python_version.split(".")[:2] | join("") }}'
      python: /usr/local/bin/python{{ man_python_version.split(".")[:2] | join(".") }}

- name: download ansible from source
  ansible.builtin.git:
    repo: https://github.com/ansible/ansible.git
    dest: ~/ansible
    version: devel
    accept_hostkey: true

- name: ensure Ansible python 3 venv is set to run in bash profile
  ansible.builtin.lineinfile:
    path: ~/.bashrc
    line: source ~/ansible-py{{ man_python_version.split(".")[:2] | join("") }}/bin/activate

- name: ensure Ansible is activated in bash profile
  ansible.builtin.lineinfile:
    path: ~/.bashrc
    line: source ~/ansible/hacking/env-setup -q
