---
- name: include windows guest tools task
  ansible.builtin.include_tasks:
    file: win_tools.yml
    apply:
      tags:
        - win_tools
  tags:
    - win_tools

- name: include win ssh task
  ansible.builtin.include_tasks:
    file: win_ssh.yml
    apply:
      become: true
      become_method: runas
      become_user: SYSTEM
      tags:
        - win_ssh
  tags:
    - win_ssh
