---
- name: assert mandatory variables are set
  ansible.builtin.assert:
    that:
      - man_kerberos_realm is defined
      - man_kerberos_kdc_hostname is defined
      - man_kerberos_kdc_ip is defined

- name: ensure kerberos packages are installed for RHEL/Centos/Fedora
  ansible.builtin.dnf:
    name:
      - krb5-devel
      - krb5-workstation
      - dnsmasq
    state: present
  when: ansible_package_name == 'dnf'

- name: ensure kerberos packages are installed for Debian
  ansible.builtin.apt:
    name:
      - libkrb5-dev
      - krb5-user
      - dnsmasq
    update_cache: true
    state: present
  when: ansible_package_name == 'apt'

- name: setup host entry for KDC
  ansible.builtin.lineinfile:
    path: /etc/hosts
    line: '{{man_kerberos_kdc_ip}}  {{man_kerberos_kdc_hostname}}.{{man_kerberos_realm}} {{man_kerberos_kdc_hostname}}'

- name: setup dnsmasq config
  ansible.builtin.copy:
    dest: /etc/dnsmasq.conf
    content: |
      server=/{{man_kerberos_realm}}/{{man_kerberos_kdc_ip}}
      server=8.8.8.8
      server=8.8.4.4
      server=208.67.220.220
      listen-address=127.0.0.1
      domain-needed
      bind-interfaces
  register: pri_kerberos_dnsmasq_config

- name: configure extra DNS settings for RHEL based distros
  block:
    - name: set localhost as dns server
      ansible.builtin.copy:
        dest: /etc/dhcp/dhclient.conf
        content: prepend domain-name-servers 127.0.0.1;
      register: dhclient_conf

    - name: restart NetworkManager
      ansible.builtin.service:
        name: NetworkManager
        state: restarted
      when: dhclient_conf is changed

  when: ansible_package_name == 'dnf'

- name: restart dnsmasq after config setup
  ansible.builtin.service:
    name: dnsmasq
    state: restarted
  when: pri_kerberos_dnsmasq_config is changed

- name: template krb5.conf file
  ansible.builtin.template:
    src: krb5.conf.tmpl
    dest: /etc/krb5.conf
