---
- name: assert mandatory variables are set
  ansible.builtin.assert:
    that:
      - man_kerberos_realm is defined
      - man_kerberos_kdc_hostname is defined
      - man_kerberos_kdc_ip is defined

- name: ensure kerberos packages are installed for RHEL/Centos/Fedora
  ansible.builtin.dnf:
    name:
      - krb5-devel
      - krb5-workstation
      - dnsmasq
    state: present
  when: ansible_package_name == 'dnf'

- name: ensure kerberos packages are installed for Debian
  ansible.builtin.apt:
    name:
      - libkrb5-dev
      - krb5-user
      - dnsmasq
    update_cache: true
    state: present
  when: ansible_package_name == 'apt'

- name: setup host entry for KDC
  ansible.builtin.lineinfile:
    path: /etc/hosts
    line: '{{ man_kerberos_kdc_ip }}  {{ man_kerberos_kdc_hostname }}.{{ man_kerberos_realm }} {{ man_kerberos_kdc_hostname }}'

- name: setup dnsmasq config
  ansible.builtin.copy:
    dest: /etc/dnsmasq.conf
    mode: "0644"
    content: |
      server=/{{ man_kerberos_realm }}/{{ man_kerberos_kdc_ip }}
      server=8.8.8.8
      server=8.8.4.4
      server=208.67.220.220
      listen-address=127.0.0.1
      domain-needed
      bind-interfaces
  notify: restart dnsmasq

- name: configure extra DNS settings for RHEL based distros
  when: ansible_package_name == 'dnf'
  block:
    - name: set localhost as dns server
      ansible.builtin.copy:
        dest: /etc/dhcp/dhclient.conf
        content: prepend domain-name-servers 127.0.0.1;
        mode: "0644"
      notify: restart NetworkManager

# attempting to keep the previous behavior and linting happy
- name: flush handlers
  ansible.builtin.meta: flush_handlers

- name: template krb5.conf file
  ansible.builtin.template:
    src: krb5.conf.tmpl
    dest: /etc/krb5.conf
    mode: "0644"
