# These steps are following the ones shown at just in code form
# https://www.virtuallyboring.com/setup-microsoft-active-directory-certificate-services-ad-cs/
---
- name: ensure the ADCS feature is installed
  ansible.windows.win_feature:
    name: AD-Certificate
    state: present
  register: pri_adcs_enrollment_install

- name: reboot host if required
  ansible.windows.win_reboot:
  when: pri_adcs_enrollment_install.reboot_required

- name: check AD CS certification authority is already configured
  ansible.windows.win_powershell:
    script: |
      # heuristic check perhaps fine for a lab setup
      $ErrorActionPreference = 'Stop'
      $cfgPath = 'HKLM:\SYSTEM\CurrentControlSet\Services\CertSvc\Configuration'

      $caKeys = @()
      if (Test-Path $cfgPath) {
        $caKeys = Get-ChildItem $cfgPath -ErrorAction SilentlyContinue |
          Where-Object { $_.PSChildName -ne 'Configuration' } |
          Select-Object -ExpandProperty PSChildName
      }

      if ($caKeys.Count -gt 0) {
        Write-Output 'true'
        Write-Output "Cert authority already configured: $($caKeys -join ', ')"
      } else {
        Write-Output 'false'
        Write-Output 'Cert authority not configured'
      }
  register: pri_adcs_ca_configured
  changed_when: false

- name: configure AD CS certification authority
  ansible.windows.win_powershell:
    script: |
      $ErrorActionPreference = 'Stop'

      Install-AdcsCertificationAuthority `
        -CAType EnterpriseRootCa `
        -CryptoProviderName 'RSA#Microsoft Software Key Storage Provider' `
        -KeyLength 2048 `
        -HashAlgorithmName SHA256 `
        -Force

      Write-Output "Cert authority is now configured"
  when: not (pri_adcs_ca_configured.output[0] | bool)
  become: true
  become_user: SYSTEM
  become_method: ansible.builtin.runas

# NOTE: the template data was manually exported from another AD CS server where
# I manually crafted the template. Saves a lot of code to build the template
# through Ansible, also a lot of headaches to find out how to structure the
# template
- name: import the certificate template into AD CS
  win_adcs_template:
    templates: '{{ lookup("template", "adcs_template.xml.j2") }}'
    dacl:
      - user: Authenticated Users
        rights:
          - list_child
          - read_prop
          - list_object
          - read_control
        qualifier: AccessAllowed
      - user: Domain Computers
        rights:
          - list_child
          - read_prop
          - read_control
        qualifier: AccessAllowed
      - user: Domain Admins
        rights:
          - create_child
          - delete_child
          - list_child
          - self_write
          - read_prop
          - write_prop
          - delete_tree
          - list_object
          - delete
          - read_control
          - write_dac
          - write_owner
        qualifier: AccessAllowed
      - user: Enterprise Admins
        rights:
          - create_child
          - delete_child
          - list_child
          - self_write
          - read_prop
          - write_prop
          - delete_tree
          - list_object
          - delete
          - read_control
          - write_dac
          - write_owner
        qualifier: AccessAllowed
      - user: Domain Computers
        rights:
          - control_access
        type: auto_enroll
        qualifier: AccessAllowed
      - user: Domain Computers
        rights:
          - read_prop
          - write_prop
          - control_access
        type: enroll
        qualifier: AccessAllowed
      - user: Domain Admins
        rights:
          - read_prop
          - write_prop
          - control_access
        type: enroll
        qualifier: AccessAllowed
      - user: Enterprise Admins
        rights:
          - read_prop
          - write_prop
          - control_access
        type: enroll
        qualifier: AccessAllowed
    owner: Enterprise Admins
    group: Enterprise Admins

- name: check if the template has already been set in CA
  ansible.windows.win_powershell:
    script: |
      $ErrorActionPreference = 'Stop'
      $name = '{{ pri_adcs_enrollment_template_name | quote }}'
      if (Get-CATemplate | Where-Object { $_.Name -eq $name } | Select-Object -First 1) { 'true' } else { 'false' }
  register: pri_adcs_enrollment_template_in_ca
  changed_when: false

- name: add imported certificate template to AD CS
  ansible.windows.win_powershell:
    script: |
      $ErrorActionPreference = 'Stop'
      $name = '{{ pri_adcs_enrollment_template_name | quote }}'
      Add-CATemplate -Name $name -Force
      Write-Output "CA template added: $name"
  when: not (pri_adcs_enrollment_template_in_ca.output[0] | bool)
