---
- name: check if the GPO has already been imported
  ansible.windows.win_powershell:
    script: |
      $ErrorActionPreference = 'Stop'
      $name = '{{ pri_adcs_enrollment_gpo_name | quote }}'

      if (Get-GPO -Name $name -ErrorAction SilentlyContinue) {
        Write-Output 'true'
        Write-Output "GPO already exists: $name"
      } else {
        Write-Output 'false'
        Write-Output "GPO missing: $name"
      }
  register: pri_adcs_enrollment_gpo_exists
  changed_when: false

- name: create GPO from backup when missing
  when: not (pri_adcs_enrollment_gpo_exists.output[0] | bool)
  block:
    - name: create backup folder on host for GPO
      ansible.windows.win_file:
        path: C:\temp\{{ pri_adcs_enrollment_gpo_name }}-backup
        state: directory

    - name: copy across backup of GPO
      ansible.windows.win_copy:
        src: gpo_backup/
        dest: C:\temp\{{ pri_adcs_enrollment_gpo_name }}-backup\

    - name: restore GPO from backup
      ansible.windows.win_powershell:
        script: |
          $ErrorActionPreference = 'Stop'
          $name = '{{ pri_adcs_enrollment_gpo_name | quote }}'
          $path = "C:\temp\{{ pri_adcs_enrollment_gpo_name }}-backup"

          Import-GPO -BackupGpoName $name -TargetName $name -Path $path -CreateIfNeeded | Out-Null
          Write-Output "Imported GPO from backup: $name"

    - name: delete backup folder on host
      ansible.windows.win_file:
        path: C:\temp\{{ pri_adcs_enrollment_gpo_name }}-backup
        state: absent

# The backup GPO has an ID that is unique to the domain it came from, these
# next 2 tasks get's the ID for this domain's auto enroll policy and set's
# that onto the newly imported domain
- name: get policy server ID
  ansible.windows.win_powershell:
    script: |
      $ErrorActionPreference = 'Stop'
      (Get-CertificateEnrollmentPolicyServer -Scope All -Context Machine).Id
  register: pri_adcs_enrollment_policy_id
  changed_when: false

- name: set the policy server ID for the GPO
  win_gpo_reg:
    gpo: '{{ pri_adcs_enrollment_gpo_name }}'
    path: HKLM\Software\Policies\Microsoft\Cryptography\PolicyServers\{{ item.path | default('') }}
    name: '{{ item.name | default(omit) }}'
    value: "{{ pri_adcs_enrollment_policy_id.output[0] }}"
    type: String
  with_items:
    - {}
    - path: 37c9dc30f207f27f61a2f7c3aed598a6e2920b54
      name: PolicyID

- name: ensure GPO is linked and enforced
  win_gpo_link:
    name: '{{ pri_adcs_enrollment_gpo_name }}'
    state: present
    enforced: true
    enabled: true
