---
- name: setup up AD CS and create auto enroll template
  ansible.builtin.include_tasks: adcs_template.yml

- name: import the auto enroll GPO policy
  ansible.builtin.include_tasks: gpo.yml

- name: get the PEM encoded cert chain from ADCS and store as a variable
  ansible.windows.win_powershell:
    script: |
      $ErrorActionPreference = 'Stop'

      $raw_ca_name = (& certutil.exe -CAInfo name)[0]
      $null = $raw_ca_name -match 'CA Name: (.*)'
      $ca_name = $matches[1]

      $certificate = Get-ChildItem Cert:\LocalMachine\Root |
        Where-Object { $_.Subject.StartsWith("CN=$ca_name") } |
        Select-Object -First 1

      if (-not $certificate) {
        throw "Could not find CA certificate in LocalMachine\Root for CN=$ca_name"
      }

      $cert_bytes = $certificate.Export([System.Security.Cryptography.X509Certificates.X509ContentType]::Cert)
      [System.Convert]::ToBase64String($cert_bytes, [System.Base64FormattingOptions]::InsertLineBreaks)
  register: pri_adcs_enrollment_chain_thumbprint_raw
  changed_when: false

- name: set PEM encoded cert as fact with correct headers
  ansible.builtin.set_fact:
    out_adcs_enrollment_chain_thumbprint: |
      -----BEGIN CERTIFICATE-----
      {{ pri_adcs_enrollment_chain_thumbprint_raw.output | join('\n') }}
      -----END CERTIFICATE-----
